# Data & Model Controls

This notebook aims to discover the dataset structures and model details.

In [ ]:
!pip install -r requirements.txt

## Imports & I/O

In [1]:
data_path = 'data'

import numpy as np
import pandas as pd
import torch
import torchvision
import random

from torch.utils.tensorboard import SummaryWriter
from sklearn.metrics import log_loss, roc_auc_score
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from preprocessing.inputs import SparseFeat, DenseFeat, VarLenSparseFeat
from model.IntTower import IntTower
from deepctr_torch.callbacks import EarlyStopping, ModelCheckpoint

## Checking Datasets

#### Movielens Dataset

Initial dataset is as below.

In [2]:
file_name = 'movielens.txt'
lens_df = pd.read_csv(join(data_path, file_name))

In [3]:
lens_df.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zipcode,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,F,1,10,48067,My Fair Lady (1964),Musical|Romance
3,1,3408,4,978300275,F,1,10,48067,Erin Brockovich (2000),Drama
4,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A (1998)",Animation|Children's|Comedy

In [4]:
lens_df.shape

(1000209, 10)

Processed datasets are displayed below.

In [5]:
import preprocessing.dataset_preprocess as dp 

train, test, data = dp.data_process(join(data_path, file_name))

train = dp.get_user_feature(train)
train = dp.get_item_feature(train)

test = dp.get_user_feature(test)
test = dp.get_item_feature(test)

In [10]:
train.head()

,movie_id,item_mean_rating,user_id,user_mean_rating,user_hist,rating,timestamp,gender,age,occupation,zipcode,title,genres
0,1,0.955915,1,1.000000,783|1907|1287|919|1029|608|2804|1962|260|3105|...,1,978824268,F,1,10,48067,Toy Story (1995),Animation|Children's|Comedy
1,1,0.955915,6,1.000000,2396|2006|1188|588|569|383|3536|1566|1947|1688...,1,978237008,F,50,9,55117,Toy Story (1995),Animation|Children's|Comedy
2,1,0.955915,8,0.918919,3256|151|1274|16|2442|2291|3265|3186|17|527|65...,1,978233496,M,25,12,11413,Toy Story (1995),Animation|Children's|Comedy
3,1,0.955915,9,0.904762,1682|2324|1923|2294|480|1921|1307|527|349|47|5...,1,978225952,M,25,17,61614,Toy Story (1995),Animation|Children's|Comedy
4,1,0.955915,10,0.960317,2398|2|351|1372|1573|2423|1784|2496|2072|1654|...,1,978226474,F,35,1,95370,Toy Story (1995),Animation|Children's|Comedy